body {
  margin: 0;
  padding: 0;
  background-color: #f3f1f1dd;
}

footer{
  background-color: rgb(29, 29, 29);
  height: 400px ;
}

h2 {
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
    color: #ffff;
}

.menu {
  background-color: red;
  height: 70px;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  line-height: 70px;
}

#logo-char {
  font-weight: 800;
  font-size: xx-large;
}

#logo-title {
  color: #ffff;
  margin-left: 20px;
}

.kategoriler {
  display: flex;
  gap: 30px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

#kategori-link {
  text-decoration: none;
  color: #ffff;
  font-weight: bold;
  font-size: larger;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}


#search{
    border-radius: 7px;
    border: none;
    padding: 8px;
    width: 350px;
}

button{
  background-color: white ;
    border-radius: 7px;
    border: none;
    padding: 8px;
    width: 50px;
    height: 33px;
    margin-left: 5px;
}

button:active{
    background-color: rgb(255, 255, 255) ;
    border-radius: 7px;
    border: none;
    padding: 8px;
    width: 50px;
    height: 33px;
    margin-left: 5px;
  box-shadow: inset 0px 0px 15px rgb(255, 0, 0);
}

.haberler-container{
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}


.haber-card{
    background-color: rgb(56, 44, 44);
    height: 300px;
    border-radius: 10px;
    width: 350px;
}


.card-img{
    width: 350px;
    height: 200px;
    border-radius: 10px 10px 0 0 ;
    object-fit: cover;
}

.card-text{
    color: #ffff;
}

.card-text p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

/* -------------------slider bölümü-------------------- */


.slider-container{
  background-color: red;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 815px;
  height: 415px;
  align-items: center;
  border-radius: 10px;
}

.slider {
  width: 800px;
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  display: flex;
  width: 100%;
  animation: slide 13s infinite;
}

.slides img {
  width: 100%;
  border-right: red solid 5px;
}

@keyframes slide {
  0%   { transform: translateX(0); }
  16%  { transform: translateX(-100%); }
  32%  { transform: translateX(-200%); }
  48%  { transform: translateX(-300%); }
  64%  { transform: translateX(-400%); }
  80%  { transform: translateX(-500%); }
  100% { transform: translateX(0); }
}

.slider-img{
  display: inline-block;
  border: red solid 5px;
  margin-top: 5px;
  padding: 2px;
  width: 770px;
  border-radius: 15px;
}

.sellect{
  background-color: red;
  width: 124px;
  height: 80px;
  z-index: -1;
  position: absolute;
  margin-top: -85px;
  margin-left: 3px;
  border-radius: 10px;
  animation: slidee 13s infinite;
}
.slider-img img{
  margin: 8px;
  z-index: 100;
  border-radius: 10px;
  border: rgb(0, 0, 0) solid 4px;
}

@keyframes slidee {
  0%   { transform: translateX(0); }
  16%  { transform: translateX(103%); }
  32%  { transform: translateX(206%); }
  48%  { transform: translateX(310%); }
  64%  { transform: translateX(413%); }
  80%  { transform: translateX(515%); }
  100% { transform: translateX(0); }
}

/* -------------------slider bölümü bitiş-------------------- */

